// Define variables for your color scheme

// For example:
$red: #FF2400;
$blue: #469AE0;
$yellow: #FFD300;
$yellow-green: #C7EA46;
$orange: #E67E22;
$green: #9DC183;
$gray: #141414;
$light-gray: #D9DDDC;
$dark-gray: rgb(220, 220, 220);
$white: #ffffff;
$broken-white: #fafafa;
