<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= current_user.firstname %>, voici tous tes projets</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @projects.each do |project| %>
      <ul>
        <li><%= project.name %></li>
        <li><%= project.description %></li>
        <li><%= project.tag %></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
